services:
    metamodels.cache:
        class: Doctrine\Common\Cache\FilesystemCache
        arguments:
            - "%metamodels.cache_dir%"

    metamodels.cache.purger:
        class: MetaModels\BackendIntegration\PurgeCache
        arguments:
            - "%metamodels.cache_dir%"
            - "@logger"

    metamodels.factory:
        class: MetaModels\Factory

    metamodels.attribute_factory:
        class: MetaModels\Attribute\AttributeFactory
        arguments:
          - "@event_dispatcher"

    metamodels.filter_setting_factory:
        class: MetaModels\Filter\Setting\FilterSettingFactory
        arguments:
          - "@database_connection"
          - "@event_dispatcher"

    metamodels.render_setting_factory:
        class: MetaModels\Render\Setting\RenderSettingFactory
        arguments:
          - "@database_connection"
          - "@event_dispatcher"

    metamodels.template_list:
        class: MetaModels\BackendIntegration\TemplateList
        arguments:
          - "@database_connection"
          - "%contao.resources_paths%"
          - "%kernel.project_dir%"

    metamodels.insert_tags:
        class: Contao\InsertTags

    metamodels.backend.navigation_builder:
        class: MetaModels\CoreBundle\Contao\Hooks\RegisterBackendNavigation
        arguments:
            - "@contao.translation.translator"
            - "@request_stack"
            - "@router"

    metamodels.controller.support_screen:
        class: MetaModels\CoreBundle\Controller\Backend\SupportMetaModelsController
        arguments:
            - "@templating"
            - "@contao.translation.translator"
            - "%metamodels.resource_dir%/data/contributors-github.json"
            - "%metamodels.resource_dir%/data/contributors-transifex.json"
