# OS
.DS_Store
Thumbs.db

# IDEs
.buildpath
.project
.settings/
.build/
.external*/
.idea/
nbproject/

# composer related
vendor/
composer.lock

# build
/.cache
/.phpunit.result.cache
/.pdepend/*
/.phpcq/*
