services:
    metamodels.listener.table.tl_metamodel_rendersetting.add_all:
        class: MetaModels\CoreBundle\EventListener\DcGeneral\Table\RenderSetting\AddAllButtonListener
        arguments:
            - "@database_connection"
            - "@metamodels.factory"
            - "@router"
        tags:
            - name: kernel.event_listener
              event: dc-general.view.contao2backend.get-global-button
              method: getGlobalButton
    metamodels.listener.table.tl_metamodel_rendersetting.attribute_options:
        class: MetaModels\CoreBundle\EventListener\DcGeneral\Table\RenderSetting\AttributeOptionsListener
        arguments:
            - "@cca.dc-general.scope-matcher"
            - "@metamodels.factory"
            - "@database_connection"
            - "@metamodels.template_list"
        tags:
            - name: kernel.event_listener
              event: dc-general.view.contao2backend.get-property-options
              method: handle
    metamodels.listener.table.tl_metamodel_rendersetting.model_render:
        class: MetaModels\CoreBundle\EventListener\DcGeneral\Table\RenderSetting\ModelToLabelListener
        arguments:
            - "@cca.dc-general.scope-matcher"
            - "@metamodels.factory"
            - "@database_connection"
            - "@metamodels.attribute_factory"
            - "@metamodels.assets.icon_builder"
            - "@translator"
        tags:
            - name: kernel.event_listener
              event: dc-general.view.contao2backend.model-to-label
              method: handle
    metamodels.listener.table.tl_metamodel_rendersetting.palette_restriction_builder:
        class: MetaModels\CoreBundle\EventListener\DcGeneral\Table\RenderSetting\PaletteRestrictionListener
        arguments:
            - "@database_connection"
        tags:
            - name: kernel.event_listener
              event: dc-general.factory.build-data-definition
              method: handle
    metamodels.listener.table.tl_metamodel_rendersetting.template_options:
        class: MetaModels\CoreBundle\EventListener\DcGeneral\Table\RenderSetting\TemplateOptionListener
        arguments:
            - "@cca.dc-general.scope-matcher"
            - "@metamodels.factory"
            - "@database_connection"
            - "@metamodels.template_list"
        tags:
            - name: kernel.event_listener
              event: dc-general.view.contao2backend.get-property-options
              method: handle
